{% extends "../base.html" %}

{% block title %}
Página Principal
{% endblock %}

{% block body %}
<div class="row px-auto">
  <!--img src="static/img/banner/1.jpg" class="img-fluid" alt="..."-->
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-pause="false"
    data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <div class="bg-image text-center shadow-1-strong rounded py-5" style="
            background-image: url('static/img/banner/1.jpg'); background-size: cover; background-repeat:no-repeat;">
          <div class="row">
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/wachin.png" class="card-img-top" style="background-color: transparent;" alt="...">
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/home-icons/lp3.png" class="card-img-top" style="background-color: transparent;"
                  alt="...">
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/wachin.png" class="card-img-top" style="background-color: transparent;" alt="...">
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card text-white bg-dark mb-3" style="border-color:  rgb(99, 84, 0);">
                  <h1 class="card-header" style="color: rgb(99, 84, 0);; background-color: goldenrod;">MusicBoss</h1>
                  <div class="card-body align-text-bottom">
                    <p class="card-text">La aplicación para guardar tus listas y compartir tu lista de reproducción
                      en vivo con tus amigos o clientes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <div class="bg-image text-center shadow-1-strong rounded py-5" style="
            background-image: url('static/img/banner/2.jpg'); background-size: cover; background-repeat:no-repeat;">
          <div class="row">
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/wachin.png" class="card-img-top" style="background-color: transparent;" alt="...">
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/home-icons/lp3.png" class="card-img-top" style="background-color: transparent;"
                  alt="...">
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/wachin.png" class="card-img-top" style="background-color: transparent;" alt="...">
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card text-white bg-dark mb-3" style="border-color:  rgb(99, 84, 0);">
                  <h1 class="card-header" style="color: rgb(99, 84, 0);; background-color: goldenrod;">MusicBoss</h1>
                  <div class="card-body align-text-bottom">
                    <p class="card-text">La aplicación para guardar tus listas y compartir tu lista de reproducción
                      en vivo con tus amigos o clientes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <div class="bg-image text-center shadow-1-strong rounded py-5" style="
            background-image: url('static/img/banner/3.jpg'); background-size: cover; background-repeat:no-repeat;">
          <div class="row">
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/wachin.png" class="card-img-top" style="background-color: transparent;" alt="...">
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/home-icons/lp3.png" class="card-img-top" style="background-color: transparent;"
                  alt="...">
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="background-color: transparent;">
                <img src="static/img/wachin.png" class="card-img-top" style="background-color: transparent;" alt="...">
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card text-white bg-dark mb-3" style="border-color:  rgb(99, 84, 0);">
                  <h1 class="card-header" style="color: rgb(99, 84, 0);; background-color: goldenrod;">MusicBoss</h1>
                  <div class="card-body align-text-bottom">
                    <p class="card-text">La aplicación para guardar tus listas y compartir tu lista de reproducción
                      en vivo con tus amigos o clientes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row py-5 justify-content-md-center">
  <div class="row row-cols-1 row-cols-md-5 g-4 justify-content-md-center">
    <div class="col-6">
      <div class="card">
        <img src="static/img/home-icons/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Crea un Usuario</h5>
          <p class="card-text">Crea un usuario en MusicBoss para poder crear listas y rockolas</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="static/img/home-icons/playlist.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Guarda tus Listas</h5>
          <p class="card-text">Arma una lista desde YouTube o con tus propios archivos mp3</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="static/img/home-icons/rockola.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Crea una Rockola</h5>
          <p class="card-text">Crea una Rockola para empezar un stream con la música de tus listas</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="static/img/home-icons/share3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comparte tu Sala</h5>
          <p class="card-text">Comparte con amigos o en tu local, así podrán pedir canciones</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="static/img/home-icons/karaoke.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Funciones Premium</h5>
          <p class="card-text">Sala Karaoke, Rockolas privadas, Almacenamiento Ilimitado</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row pt-5 justify-content-md-center">
  <div class="bg-image text-center shadow-1-strong rounded p-2" style="
  background-image: url('static/img/banner/rockolas.jpg'); background-size: cover; background-repeat:no-repeat;">
<div class="row pt-4">
  <h1 style="color: white;">Rockolas 24/7</h1>
</div>
<div class="row py-5">
  <div class="col-8">
    <div class="row row-cols-2 row-cols-md-3 g-4">
      <div class="col-6">
        <div class="card text-white bg-dark">
          <img src="static/img/home-icons/rock.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rock</h5>
            <a href="/rockola/id/1" class="stretched-link"></a>
            <!--p class="card-text">Crea un usuario en MusicBoss para poder crear listas y rockolas</p-->
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-dark">
          <img src="static/img/home-icons/pop.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pop</h5>
            <a href="/rockola/id/1" class="stretched-link"></a>
            <!--p class="card-text">Crea un usuario en MusicBoss para poder crear listas y rockolas</p-->
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-dark">
          <img src="static/img/home-icons/jazz.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jazz</h5>
            <a href="/rockola/id/1" class="stretched-link"></a>
            <!--p class="card-text">Crea un usuario en MusicBoss para poder crear listas y rockolas</p-->
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-dark">
          <img src="static/img/home-icons/classic.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Clásica</h5>
            <a href="/rockola/id/1" class="stretched-link"></a>
            <!--p class="card-text">Crea un usuario en MusicBoss para poder crear listas y rockolas</p-->
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-dark">
          <img src="static/img/home-icons/ranchera.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ranchera</h5>
            <a href="/rockola/id/1" class="stretched-link"></a>
            <!--p class="card-text">Crea un usuario en MusicBoss para poder crear listas y rockolas</p-->
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-dark">
          <img src="static/img/home-icons/reggaeton.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Reggaeton</h5>
            <a href="/rockola/id/1" class="stretched-link"></a>
            <!--p class="card-text">Crea un usuario en MusicBoss para poder crear listas y rockolas</p-->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
{% endblock %}